/* navbar icons */
.titlebar-buttonbox-container,
#zen-appcontent-navbar-container,
#back-button,
#forward-button,
#reload-button,
#home-button {
  display: none !important;
}

/* settings sidebar width */
#categories {
	width: 14rem !important;
}

/* disable webview rounded corners and margins */
:root {
  --zen-element-separation: 0px !important;
  --zen-webview-border-radius: 0;
  #tabbrowser-tabpanels:not([zen-split-view="true"]) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
